:global(.active) {
    color: var(--main-color) !important;
    box-shadow: 0 0 0 1px var(--main-color);
    border-radius: 5px;
    transition: all 0.3s !important;
}
a:hover {
    color: var(--main-color) !important;
}
i:hover {
    color: #000 !important;
}
.cartButton {
    position: relative;
}
.cartButton svg {
    color: #000;
    display: block;
}
.cartButton::after {
    content: attr(data-cart-items);
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    color: #fff;
    transform: translate(30%, -30%);
    padding: 0.25rem;
    border-radius: 5px;
    line-height: 1;
    font-size: calc(0.8rem + 0.1vw);
}